button {
	all: unset;
	display: flex;
	align-items: center;

	padding: 0.6rem 2.5rem;

	font-family: var(--font-mono);
	border-radius: var(--radius);

	transition: 0.2s;
	cursor: pointer;
}

.btn-a {
	color: white;
	background: var(--brand-a);
	border: 1px solid transparent;

	&:hover {
		background: var(--bg-a);
		color: var(--brand-a);
		border-color: var(--brand-a);
	}
}

.btn-b {
	padding: 0.5rem 2rem;

	color: var(--fg-d);
	background: var(--bg-a);
	border: 1px solid var(--brand-a);

	&:hover {
		background: var(--brand-a);
		color: var(--bg-a);
	}
}

.btn-c {
	padding: 0.75rem 2rem;

	color: var(--brand-a);
	background: var(--bg-a);
	border: 1px solid transparent;

	&:hover {
		border-color: var(--brand-a);
	}
}
