section {
	width: 100%;
	max-width: var(--max-w);
	height: max-content;
	margin: 0 auto;
}

h1 {
	font-size: var(--font-xxl);
}

h2 {
	font-size: var(--font-lg);
}

h1,
h2 {
	color: var(--fg-a);

	font-weight: 500;
	letter-spacing: 1.2px;
	word-spacing: 8px;
}

p,
li,
.card {
	color: var(--fg-b);
	font-size: var(--font-md);
	word-spacing: 1.5px;
	line-height: 1.25;

	@media screen and (max-width: 560px) {
		word-wrap: break-word;
	}

	& a {
		color: var(--fg-c);
	}
}

a {
	color: var(--fg-a);

	&:not(h1, h2) {
		text-decoration: underline;
		text-decoration-color: var(--theme-a);
		text-decoration-thickness: 1px;
		text-underline-offset: 1px;

		&:hover {
			text-decoration-thickness: 3px;
		}
	}
}

code {
	padding: 0.1rem 0.5rem;

	color: var(--fg-a);
	background: var(--bg-d);
	border-radius: var(--radius-sm);

	font-weight: 800;
	font-variation-settings:
		'wght' 600,
		'wdth' 90;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
