section {
	width: 100%;
	max-width: var(--max-w);
	height: max-content;
	margin: 0 auto;
}

h1 {
	font-size: var(--font-xxl);
}

h2 {
	font-size: var(--font-lg);
}

h1,
h2 {
	color: var(--fg-a);

	font-weight: 500;
	letter-spacing: 1.2px;
	word-spacing: 8px;
}

p,
li,
.card {
	color: var(--fg-b);
	font-size: var(--font);

	@media screen and (max-width: 560px) {
		word-wrap: break-word;
	}

	a {
		color: var(--fg-c);
		&:hover {
			color: var(--fg-a);
		}
	}
}

a {
	color: var(--fg-a);

	&:not(h1, h2) {
		text-decoration: underline;
		text-decoration-color: var(--theme-a);
		text-decoration-thickness: 1px;
		text-underline-offset: 1px;

		&:hover {
			text-decoration-thickness: 3px;
		}
	}
}

code,
.code {
	display: inline-flex;

	padding: 0px 4px 2px 4px;
	margin-left: 2px;

	line-height: 1.1;

	color: var(--fg-a);
	outline: 1px solid color-mix(in hsl, var(--theme-a), transparent 75%);
	border-radius: var(--radius-sm);

	font-family: var(--font-a);
	font-weight: 400;
	font-variation-settings:
		'wght' 400,
		'wdth' 90;
	white-space: nowrap;
}

sup {
	color: color-mix(in hsl, var(--theme-a), var(--fg-a) 30%);
	font-style: italic;
}
