:root {
	--font-xxs: 0.75rem;
	--font-xs: 0.9rem;
	--font-sm: 1rem;
	--font: clamp(1rem, 3vw, 1.2rem);
	--font-md: clamp(1rem, 3.5vw, 1.4rem);
	--font-lg: clamp(1.25rem, 5vw, 1.75rem);
	--font-xl: clamp(1.5rem, 6vw, 2.25rem);
	--font-xxl: clamp(1.75rem, 7vw, 3rem);
}

:root {
	//? Original fonts
	// --font-a: 'Mona Sans', sans-serif;
	// --font-mono: 'Inconsolata', monospace;

	--font-a: 'Niramit', sans-serif;
	--font-mono: 'Inconsolata', sans-serif;

	--font-b: 'Mona Sans', sans-serif;
}

body {
	font-family: var(--font-a);
	font-weight: 300;
	font-variation-settings:
		'wght' 300,
		'wdth' 95;
	letter-spacing: 0.2px;
	line-height: 1.3;
	line-height: 1.25;
	text-wrap: pretty;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
.heading {
	font-family: var(--font-b);
	font-variation-settings:
		'wght' 550,
		'wdth' 110;
}

.nav-link,
.button {
	font-size: var(--font-md);
	text-decoration: none;
}

:root[theme='light'] p,
text {
	font-weight: 400;
}
