//*	INCONSOLATA  -  Variable Font (wght, wdth)
@font-face {
	font-family: 'Inconsolata';
	font-weight: 100 900;
	font-style: monospace;
	src:
		url('/fonts/Inconsolata/Inconsolata.woff2') format('woff2'),
		url('/fonts/Inconsolata/Inconsolata.ttf') format('truetype');
	unicode-range: U+20-7E, U+E4, U+E5, U+F6;
}

/* MONA SANS - Variable Font (wght, wdth) */
@font-face {
	font-family: 'Mona Sans';
	src:
		url('/fonts/mona_sans/Mona-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/mona_sans/Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
	font-display: auto;
}

:root {
	--font-a: 'Mona Sans', sans-serif;
	--font-mono: 'Inconsolata', monospace;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-a);
	font-variation-settings:
		'wght' 600,
		'wdth' 110;
}

p {
	font-family: var(--font-mono);
	font-size: 1.33rem;
	font-variation-settings:
		'wght' 333,
		'wdth' 105;
}

a,
// p,
li,
section {
	font-family: var(--font-mono);
	// font-family: var(--font-a);
}

pre,
code {
	font-family: var(--font-mono);
}
