input,
button,
select {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button:disabled,
input:disabled,
textarea:disabled,
select:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	width: fit-content;
	padding: 1rem;

	/* background: var(--bg-b); */
	background: color-mix(in hsl, var(--bg-a), var(--bg-b) 50%);
	box-shadow: var(--shadow);
	border-radius: var(--radius);

	font-family: var(--font-a);
}

label {
	display: flex;
	flex-direction: column;
	position: relative;

	width: 100%;
	padding: 0 0.5rem 0.5rem;

	background: color-mix(in hsl, var(--bg-a), var(--bg-b) 75%);
	outline: 1px solid var(--bg-a);
	border-radius: var(--radius);

	font-weight: 300;
}

label:has(input[type='checkbox']) {
	display: block;
	padding-top: 0.5rem;
	* {
		outline-color: var(--fg-e);
	}
}

label:first-of-type {
	margin: 0;
}

label span {
	margin: 0.5rem 0;
}

input:not([type='checkbox']),
textarea,
select {
	min-width: min(25rem, 90vw);
	max-width: 90vw;
	width: 100%;
	max-height: 10rem;

	border: none;
	background: var(--bg-a);
	padding: 0.5rem;
	border-radius: var(--radius);
	/* outline-color: color-mix(in hsl, var(--theme-a), transparent 50%); */
	outline-color: var(--fg-e);

	font-family: var(--font-mono);

	transition: 0.2s;
}

textarea {
	resize: vertical;
}

select {
	cursor: pointer;
}

select:hover {
	cursor: pointer;
}
