@use './media' as *;

.row {
	display: flex;
	flex-wrap: wrap;
}

.br-xs {
	height: 0.5rem;
}
.br-sm {
	height: 1.25rem;
}
.br-md {
	height: 4rem;
	@include media('<phone') {
		height: 3rem;
	}
}
.br-lg {
	height: 6.5rem;
	@include media('<phone') {
		height: 5rem;
	}
}
.br-xl {
	height: 10rem;
	@include media('<phone') {
		height: 6rem;
	}
}

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 800px;
	padding: 2rem;
	margin: 0 auto;

	background: var(--light-a);
	border: 1px solid var(--light-b);
	border-radius: var(--radius-lg);

	box-shadow: -0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.05) inset;
}

.card-wrapper {
	position: relative;
	width: max-content;
	padding: 0.15rem 0.15rem 0.35rem 0.15rem;
	margin: 0 auto;

	border-radius: var(--radius);
	background: var(--brand-a);
	border-color: var(--light-d);
	border: 1px solid var(--light-b);

	& ul {
		margin-bottom: 1.75rem;
		padding-left: 2rem;

		& li {
			margin-bottom: 0.75rem;
		}
	}
}
